<template>
    <div class="categories">
        <b-nav vertical>
            <b-nav-item >Categories</b-nav-item>
            <b-nav-item>Item One</b-nav-item>
            <b-nav-item>AItem Two</b-nav-item>
            <b-nav-item>Item Three</b-nav-item>
        </b-nav>
    </div>
</template>



<script>
export default {
    name: 'CartegoriesMenu',
}
</script>


<style scoped>
    .categories{
        background-color: red;
        border:2px dashed blue;
    }
</style>