<template>
    <div>
      <b-nav tabs class="nav_tp">
        <b-nav-item>Active</b-nav-item>
        <b-nav-item>Link</b-nav-item>
        <b-nav-item>Another Link</b-nav-item>
        <b-nav-item >Disabled</b-nav-item>
      </b-nav>
    </div>
  
</template>


<script>
export default {
  name: 'TopNavigationMenu',
  
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
