<template>
  <div id="app">

    <!-- TopMenu -->
    <b-container>
      <b-row>
        <b-col sm="12">
          <TopNavigationMenu/>
        </b-col>
      </b-row>

      <!-- //Categories -->
      <b-row>
        <b-col sm="2"><CartegoriesMenu/></b-col>
        <b-col sm="8">2 of 3</b-col>
        <b-col sm="2">3 of 3</b-col>
      </b-row>
      
    </b-container>

  </div>
</template>

<script>
import TopNavigationMenu from './components/TopNavigationMenu.vue'
import CartegoriesMenu from './components/CartegoriesMenu.vue'

export default {
  name: 'app',
  components: {
    TopNavigationMenu,
    CartegoriesMenu,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
